@using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", @id = "ChangePasswordForm" }))
{
    <div id="ChangePasswordDiv">

        <div class="form-group">
            <div class="col-xs-6">
                <label class="control-label">Old Password</label>
            </div>
            <div class="col-xs-6">
                <input type="password" name="oldPassword" id="OldPassword" class="form-control validate[required]" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label class="control-label">New Password</label>
            </div>
            <div class="col-xs-6">
                <input type="password" name="newPassword" id="NewPassword" class="form-control validate[required]" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label class="control-label">Confirm Password</label>
            </div>
            <div class="col-xs-6">
                <input type="password" name="confirmPassword" id="ConfirmPassword" class="form-control validate[required,equals[NewPassword]]" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="button" id="input_Save" value="Change" class="btn btn-primary" />
                <input type="button" id="input_cancel" class="btn btn-primary" onclick=" closeDialog(this) " value="Cancel" />
            </div>
        </div>
        <input type="hidden" name="returnUrl" id="ChangePasswordReturnUrl" />

    </div>

}

<script type="text/javascript">

    $(function () {
        $('#ChangePasswordDiv').validationEngine({ scroll: false, customValidationElement: $('#input_Save'), triggerEventAfterSuccess: 'afterSuccess', ajaxFormValidationMethod: "post" });

        $('#ChangePasswordReturnUrl').val($('#CurrentReturnUrl').val());

    });

    $('#input_Save').on('afterSuccess', function () {
        $("#ChangePasswordForm").submit();
    });

</script>
