.used-space-section {
    float: left;
    border-right: 1px solid #E4E4E4;
    padding: 10px;
    box-sizing: border-box !important;
    width: 50%;
    word-break: break-word;

}

.total-space-section {
    float: left;
    padding: 10px;
    box-sizing: border-box !important;
    width: 50%;
    word-break: break-word;
}

.span-space {
    display: block;
    font-weight: bolder;
    font-size: 2em;
    font-family: Arial;
}

.span-info {
    color: #545454;
    font-family: Arial;
}

#mHHD-main .dunotWrapper:nth-child(even) {
    margin: 0px 25px !important;
}

.server-info {
    font-size: 1em;
    font-family: Arial;
    font-weight: bolder;
}
